@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  background-color: #2c3038;
}


.wrapper{
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-template-rows: 100px auto repeat(4, 100px) auto auto;
  gap: 10px;
  grid-template-areas: 
  "img img img img img"
  ". input input input."
  "table table map map map"
  "table table map   map map"
  "table table map   map map"
  "table table map   map map"
  ". nav nav nav ."
  ". foot foot foot ."
  
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0;
  grid-area: img;
}



form{
  grid-area: input;
  display: flex;
  justify-content: space-between;
  padding: 30px, 10%;
  align-items: center;
  background-color: #3f434a;
  box-shadow: 2px 2px 2px black;
  color : #000000;
}

label{
  color: white;
}

#ls{
  color: #000000;
  width: 200px;
  margin: 5px 10px 5px 15px;
  
}
/*For curremt location button*/
#cl{
  
    box-shadow:inset 0px 1px 1px 0px #26274a;
    background-color:#0948b5;
    border-radius:5px;
    border:1px solid #2e2e59;
    display:inline-block;
    cursor:pointer;
    margin: 5px 10px 5px 0;
    padding:6px 24px;
    text-decoration:none;
    border-right: 5px black;
    color: white;
  }
  #cl:hover {
    background-color:#6869b1;
  }
  #cl:active {
    position:relative;
    top:1px;
  }
  #cl:after{
    border-right: 5px black;
  }

  

/*For distance radius menu*/
#dis{
  color:#000000;
  cursor: pointer;
  margin: 5px 10px 5px 0;
}
option{
  color: black;
  margin: 5px 10px 5px 0;
}

/* For find gyms button */
#find{
  box-shadow:inset 0px 1px 1px 0px #26274a;
    background-color:#0948b5;
    border-radius:5px;
    border:1px solid #2e2e59;
    display:inline-block;
    cursor:pointer;
    margin: 5px 10px 5px 0;
    padding:6px 24px;
    text-decoration:none;
    border-right: 5px black;
    color: white;
}
#find:hover {
  background-color:#6869b1;
}

#find:active {
  position:relative;
  top:1px;
}

#map{
  margin: 0px;
  height: 100%;
  border: 10px solid #3f434a;
  grid-area: map;    
  box-shadow: 2px 2px 2px black;
}

nav{
  text-align: center;
  align-items: center;
  grid-area: nav;
  display: block;
  background-color: #3f434a;
  box-shadow: 2px 2px 2px black;
}
nav p{
  display: inline;
  color: white;
}
ul{
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
  float: left;
  padding: 5px;
}
li a{
  display:block;
  padding: 8px 16px;
  color: white;
}
li a:hover{
  color: gainsboro;
  padding: 8px 16px;
}

#gym-output{
  overflow-y: scroll;
  grid-area: table;
  background-color: #3f434a;
  box-shadow: 3px 3px 3px black;
  display:block;
  }

  #gym-output a{
    display: block;
    color: white;
    background-color: #0948b5;
  }

#gym-output a:hover{
  background-color:#6869b1;
}
  
footer{
  grid-area: foot;

  text-align: center;
  
  background-color: #3f434a;
  box-shadow: 3px 3px 3px black;
  color: white;
}

.pac-matched{
  color: black;
}