*{
  box-sizing: border-box;
  border-radius: 5px;
 
  
}

body{
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-template-rows: 1fr .5fr repeat(5, 1fr) .5fr;
  gap: 10px;
  grid-template-areas: 
  "head head  head  head head"
  ". input input input ."
  ". map   map   map ."
  ". map   map   map ."
  "nav map   map   map ."
  "nav table table table ."
  ". table table table ."
  ". foot foot foot ."
  
}

header{
  grid-area: head;
  color: #EFF2ED;
  background-color: #5C5CE8;
  border-radius: 0px;
  text-align: center;
  box-shadow: 2px 2px 2px #363732;
  text-shadow: 1px 1px 2px #DBDDD9;
  font-size: 120%;
}
.subtitle{
  box-shadow: none;
}


form{
  grid-area: input;
  padding: 7px 20px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  align-self: end;
  color: #EFF2ED;
  background-color: #5C5CE8;
  box-shadow: 2px 2px 2px #363732;
}

#ls{
  width: 200px;
}
/*For curremt location button*/
#cl{
  cursor: pointer;
  }

/*For "Within:" label*/
#label{
  color: #EFF2ED;
}
/*For distance radius menu*/
#dis{
  cursor: pointer;
}
/* For find gyms button */
#find{
  cursor: pointer;
}

#map{
  margin: 0px;
  grid-area: map;
  border: 1px solid red;
  padding: 100px;
  align-items: center;    
}

nav{
  grid-area: nav;
  color: #EFF2ED;
  background-color: #5C5CE8;
}
#links{
  list-style-type: none;
  justify-content: left;
  padding: 5px;
}
.link a{
  display: block;
  width: 1fr;
  padding: 8px 16px;
  color: #EFF2ED;
}
.link a:hover{
  display: block;
  background-color: #66C3FF;
  width: 1fr;
  padding: 8px 16px;
}

#gym-output{
  overflow-y: scroll;
  grid-area: table;
  color: #EFF2ED;
  background-color: #5C5CE8;
  box-shadow: 3px 3px 3px #363732;
  }
#gym-output p:nth-child(even){
  background-color: #3A3AF2;
}
#gym-output p:hover{
  background-color: #66C3FF;
}
  
footer{
  grid-area: foot;

  text-align: center;
  color: #EFF2ED;
  background-color: #5C5CE8;
  box-shadow: 3px 3px 3px #363732;
}