*{
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff2df;
 
  
}

body{
background: #fff2df;

}
.wrapper{
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-auto-rows: 100px;
  gap: 10px;
  grid-template-areas: 
  "head head input input input "
  "table table map map map"
  "table table map   map map"
  "table table map   map map"
  "table table map   map map"
  ". nav nav nav ."
  ". foot foot foot ."
  
}

header{
  grid-area: head;
  
  background-color: #a2836e;
  border-radius: 0px;
  text-align: center;
  box-shadow: 2px 2px 2px #674d3c;
  font-size: 100%;
}
.subtitle{
  box-shadow: none;
}


form{
  grid-area: input;
  padding: 7px 20px;
  margin: 0px;
  border: 1px solid #a2836e;
  text-align: center;
  align-self: center;
  display: inline;
  background-color: #a2836e;
  box-shadow: 2px 2px 2px #674d3c;
}

#ls{
  color: #674d3c;
  width: 200px;
}
/*For curremt location button*/
#cl{
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:#674d3c;
    background-color:#d9ad7c;
    border-radius:6px;
    border:1px solid #a2836e;
    display:inline-block;
    cursor:pointer;
    
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #674d3c;
  }
  #cl:hover {
    background:#674d3c;
    background-color:#674d3c;
  }
  #cl:active {
    position:relative;
    top:1px;
  }

  

/*For distance radius menu*/
#dis{
  color:#674d3c;
  cursor: pointer;
}
option{
  color: black;
}

#dis-content{
  color: black;
}
/* For find gyms button */
#find{
  box-shadow:inset 0px 1px 0px 0px #674d3c;
  background:#674d3c;
  background-color:#d9ad7c;
  border-radius:6px;
  border:1px solid #a2836e;
  display:inline-block;
  cursor:pointer;
  
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #674d3c;
}
#find:hover {
  background:#674d3c;
  background-color: #674d3c;
}
#find:active {
  position:relative;
  top:1px;
}

#map{
  margin: 0px;
  height: 100%;
  border: 10px solid #a2836e;
  grid-area: map;    
}

nav{
  text-align: center;
  align-items: center;
  grid-area: nav;
  display: block;
  background-color: #a2836e;
}
p{
  display: inline;
}
ul{
  display: block;
}
li {
  list-style-type: none;
  float: left;
  padding: 5px;
}
li a{
  display:block;
  padding: 8px 16px;
  background-color: #d9ad7c;
}
li a:hover{
  background: #674d3c;
  background-color:#674d3c;
  padding: 8px 16px;
}

#gym-output{
  overflow-y: scroll;
  grid-area: table;
  
  background-color: #a2836e;
  box-shadow: 3px 3px 3px #674d3c;
  }

#gym-output p:hover{
  background:674d3c;
  background-color:#a2836e
}
  
footer{
  grid-area: foot;

  text-align: center;
  
  background-color: #a2836e;
  box-shadow: 3px 3px 3px #674d3c;
}

.pac-matched{
  color: black;
}