*{
    box-sizing: border-box;
  }
  
  p{
    color: blue;
  }
  p.subtitle{
    color: black;
  }
  
  /*body{
    background: linear-gradient(to top, #2980b9, #2c3e50);
  }*/
  .wrapper{
    display: grid;
    grid-template-columns: 200px repeat(3, auto) 200px;
    grid-template-rows: 200px 50px repeat(3, 200px) 100px;
    gap: 10px;
    grid-template-areas: 
    "logo head head head . "
    ".     .   input input ."
    "table table map map ."
    "table table map map ."
    "table table map map ."
    "foot foot foot foot ."
    
  }
  img{
    grid-area: logo;
    max-width: 200px;
    min-height: 200px;
  }
  header{
    grid-area: head;
    border: 1px solid black;
    text-align: center;
  }
 
  form{
    grid-area: input;
    padding: 5px;
    border: 1px solid black;
    justify-self: center;
    align-self: end;
  }
  /*For location search bar*/
  .ls{
    margin-left: 10px;
    width: 220px;
  }

  /*For curremt location button*/
  .cl{
    margin-right: 10px;
    }

  /*For distance radius menu*/
  .dis{
    margin-left: 10px;
    margin-right: 10px;
  }
  

  .map{
    margin: 0px;
    grid-area: map;
    border: 1px solid red;
    padding: 100px;
    align-items: center;    
  }
  
  .table{
    overflow-y: scroll;
    grid-area: table;
    border: 1px solid purple;
    height: 100%;
    width: 100%
    }

    
  footer{
    grid-area: foot;
    border: 1px solid black;
    justify-content: center;
  }
  
  